
.inactive-Link {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.inactive-Link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.inactive-Link:hover::after {
  width: 100%;
}
